@page "/"

    <div class="container">
        <div class="characterLabel padded bigText centered leftMargin">Characters</div>
        <div class="characterBox padded bordered leftMargin">
            <MyCharacters ></MyCharacters>
        </div>
        <div class="weaponLabel padded bigText centered leftMargin">Weapons</div>
        <div class="weaponList padded leftMargin bordered">Weapon List</div>
        <div class="modifiersLabel padded bigText centered">Modifiers</div>
        <div class="modifierList padded bordered">List Modifiers</div>
        <div class="actionLabel padded bigText centered">Actions</div>
        <div class="actionButtons">
            <div class="button bordered">Initave</div>
            <div class="button bordered">Attack</div>
            <div class="button bordered">Damage</div>
        </div>
        <div class="mainChat bordered padded">A bunch of chatting</div>
        <div class="typeChat bordered padded">Type Here</div>
        <div class="othersLabel bigText centered padded">Others</div>
        <div class="othersList bordered padded">List of people</div>
     </div>
